[submodule "exts/dbcsr"]
	path = exts/dbcsr
	url = https://github.com/pseewald/dbcsr
	branch = pr
[submodule "tools/prettify/fprettify"]
	path = tools/prettify/fprettify
	url = https://github.com/pseewald/fprettify.git
	branch = master
